@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
    @if $raw-query {
        $query: if( type-of($raw-query)=="string", unquote($raw-query), inspect($raw-query));
        @media #{$query} {
            @content;
        }
    }
    @else {
        @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
    }
}

@mixin shadow($color, $opacity) {
    -webkit-box-shadow: 0px 0px 32px 0px rgba($color, $opacity);
    -moz-box-shadow: 0px 0px 32px 0px rgba($color, $opacity);
    box-shadow: 0px 0px 32px 0px rgba($color, $opacity);
}

@mixin gradient-bg($direction, $color1, $color2) {
    background-image: linear-gradient($direction, $color1, $color2);
}

@mixin rounded-corner($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}