$white: #fff;
$grey: #30336b;
$grey-light: #57606f;
$red: red;
$red-light: #ff6b81;
$green: green;
$green-light: #2ed573;
$blue: blue;
$blue-light: #70a1ff;
$orange: #ff7701;
$orange-light: #ffa502;
$breakpoints: ( "small": ( min-width: 321px), "landscape": ( min-width: 480px), "medium": ( min-width: 768px), "desktop": ( min-width: 1200px));